<h2>pracownicy</h2>
<div class="flex flex-row">
  <div class="flex flex-column align-items-center">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="m-2" size="xlarge"
              shape="circle"></p-avatar>
    <div class="avatar-label">Ola</div>
  </div>
  <div class="flex flex-column align-items-center">
    <p-avatar icon="pi pi-user" styleClass="m-2" size="xlarge" shape="circle"></p-avatar>
    <div class="avatar-label">Kamil</div>
  </div>
  <div class="flex flex-column align-items-center">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" styleClass="m-2" size="xlarge"
              shape="circle"></p-avatar>
    <div class="avatar-label">Agnieszka</div>
  </div>
</div>
