<div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
  <div class="col-xl-7">
    <app-galeria></app-galeria>
    <p-card header="Barbershop" subheader="Al. Jana Pawła II 22, 00-000 Warszawa">
    </p-card>
    <div class="my-2">
      <header>
        <p class="title">Usługi</p>
      </header>
    </div>
    <app-company-services></app-company-services>
  </div>
  <div class="col-xl-4 offset-xl-1 sticky-top">
    <p-card>
      <app-about-company></app-about-company>
      <app-workers></app-workers>
      <app-contact-and-working-hours></app-contact-and-working-hours>
    </p-card>
  </div>
</div>

