<!--<div class="p-dialog-content">-->
<h3>Dodawanie nowego terminu</h3>
<form (ngSubmit)="closeDialog()" [formGroup]="appointmentForm">
  <!--    <div class="p-field">
        <label for="title">Tytuł:</label>
        <input type="text" id="title" name="title" class="p-inputtext" required>
      </div>
      <div class="p-field">
        <label for="description">Opis:</label>
        <textarea id="description" name="description" class="p-inputtext"></textarea>
      </div>-->


  <div class="p-fluid p-formgrid grid">
    <div class="field col-12 md:col-12">
      <input id="name" type="text" formControlName="title" placeholder="Nazwa" pInputText/>
    </div>
    <div class="field col-12 md:col-6">
      <p-calendar formControlName="start" appendTo="body" [touchUI]="true" [showTime]="true" [showIcon]="true"></p-calendar>
    </div>
    <div class="field col-12 md:col-6">
      <p-calendar formControlName="end" appendTo="body" [touchUI]="true" [showTime]="true" [showIcon]="true"></p-calendar>
    </div>
  </div>






  <!--    <button type="submit" class="p-button p-button-success">Dodaj</button>-->
  <!--    <button type="button" (click)="ref.close()" class="p-button p-button-danger">Anuluj</button>-->

</form>
<div class="p-dialog-footer">
  <p-button type="button" icon="pi pi-check" [text]="true" (click)="onSave(appointmentForm)" label="Dodaj" class="p-button-text"></p-button>
  <p-button type="button" icon="pi pi-times" [text]="true" (click)="ref.close()" label="Anuluj" class="p-button-text"
            severity="secondary"></p-button>
</div>
<!--  <ng-template pTemplate="footer">

  </ng-template>-->
<!--</div>-->
